@media only screen and (max-width: 835px) {
    .wrapper{
      max-width: 835px;
    }
    .img{
      display: none;
    }
    ul{
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 475px) {

    .wrapper{
      max-width: 475px;
    }

    article .row{
      flex-wrap: wrap;
      justify-content: center;
    }

    body{
      font-size: .9em;
    }

  }